{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section>
  <div class="login-container">
    <div class="login-form">
      <h1>{% trans "LOG IN" %}</h1>

      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
        <p class="login-info">{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third-party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a account and sign in below.{% endblocktrans %}</p>

        <div class="social-accounts">
          <ul class="provider-list">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>
        </div>

        <div class="login-or">{% trans 'or' %}</div>

        {% include "socialaccount/snippets/login_extra.html" %}

      {% else %}
        <p class="login-info">{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      {% endif %}

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="primary-action" type="submit">{% trans "LOG IN" %}</button>
        <br>
        <a class="secondary-action" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}
