{% extends 'account/base.html' %} {% block content%}

<body>
<section>
    <div class="login-dark">
        <form method="post">
            <h2 class="" style="text-align: center;">Register Form</h2>
        <!--<div class="illustration">{% load icons %} -->
        <!--{% icon 'icon' style='color:#fff;' %}</div>  -->
            <div class="form-group"><input class="form-control" type="name" name="email" placeholder="Username"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Set Password"></div>
            <div class="form-group"><input class="form-control" type="password" name="Confirmpassword" placeholder="Confirm Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Register</button></div> Already registerd ? <a href="../login" > Login Now </a>
            </form>
    </div>
</section>
{% endblock%}
