 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  background: #22272e;
  color: white;
  padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

section {
  margin: 5rem 2rem;
}

/* Navigation Styles */

header {
  background: black;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 95%;
  max-width: 1500px;
}

.logo {
  font-size: 1.25rem;
  margin: 1rem;
  text-transform: uppercase;


}


  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: black;
  }
  


/* Section One */


.header {
  font-size: 4.5rem;
}
.pastetext{
    background-color: #f7fff7;
    border: 2px dashed #7b2cbf;
	box-sizing: border-box;
	border-radius: 40px;
    margin: 10px  15px;
	padding: 30px 50px;
	width: 350px;
    height: 400px;
	display: flex;
   	align-items: center;
   	justify-content: center;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
}

.upload-files-container {
	background-color: #f7fff7;
    border: 2px dashed #7b2cbf;
	width: 400px;
	padding: 20px 20px;
	border-radius: 40px;
    box-sizing: border-box;
    margin: 0;
	display: flex;
   	align-items: center;
   	justify-content: center;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
}
.drag-file-area {
	border: 1px dashed #000;
    box-sizing: border-box;
  margin: 0;
	border-radius: 40px;
	margin: 10px 0 15px;
	padding: 30px 50px;
	width: 350px;
	text-align: center;
}
.section-one {
  margin: 2rem 0;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px;

}
.textarea{
    border: 1px dashed #000000;
    border-radius: 20px;
}

.submit-btn {
    font-family: 'Montserrat';
	background-color: #7b2cbf;
	color: #f7fff7;
	display: flex;
	align-items: center;
	font-size: 18px;
	border: none;
	border-radius: 20px;
	margin: 10px;
	padding: 7.5px 50px;
	cursor: pointer;
}
.Touch-btn {
    background: white;
    align-items: center;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: .8rem;
   font-family: Arial, Helvetica, sans-serif;
    color: black;
  }

.learn-more-btn:hover {
  background: #6c83ff;
  color: white;
}

/* Section Two */

/* Section Three */

/* Section Nine */

.section-nine {
  margin-top: 15rem;
}

.logo-container {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
}

/* Section Ten */

.section-ten h3 {
  margin: 15rem auto 2rem;
  width: 80%;
  max-width: 700px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}



/* pdf section */

/* .form-container {
	width: 500px;
	height: 100%;
	display: flex;
   	justify-content: center;
	align-items: center;
} */

.drag-file-area .upload-icon {
	font-size: 50px;
}
.drag-file-area h3 {
	font-size: 26px;
	margin: 15px 0;
}
.drag-file-area label {
	font-size: 19px;
}
.drag-file-area label .browse-files-text {
	color: #7b2cbf;
	font-weight: bolder;
	cursor: pointer;
}
.browse-files span {
	position: relative;
	top: -25px;
}
.default-file-input {
	opacity: 0;
}
.cannot-upload-message {
	background-color: #ffc6c4;
	font-size: 17px;
	display: flex;
	align-items: center;
	margin: 5px 0;
	padding: 5px 10px 5px 30px;
	border-radius: 5px;
	color: #BB0000;
	display: none;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.cannot-upload-message span, .upload-button-icon {
	padding-right: 10px;
}
.cannot-upload-message span:last-child {
	padding-left: 20px;
	cursor: pointer;
}
.file-block {
	color: #f7fff7;
	background-color: #7b2cbf;
  	transition: all 1s;
	width: 390px;
	position: relative;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 15px;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
}
.file-info {
	display: flex;
	align-items: center;
	font-size: 15px;
}
.file-icon {
	margin-right: 10px;
}
.file-name, .file-size {
	padding: 0 3px;
}
.remove-file-icon {
	cursor: pointer;
}
.progress-bar {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 4.5%;
	width: 0;
	height: 5px;
	border-radius: 25px;
	background-color: #4BB543;
}
.upload-button {
	font-family: 'Montserrat';
	background-color: #7b2cbf;
	color: #f7fff7;
	display: flex;
	align-items: center;
	font-size: 18px;
	border: none;
	border-radius: 20px;
	margin: 10px;
	padding: 7.5px 50px;
	cursor: pointer;
}

/* downlaod area */


#wrap {
    margin: 20px auto;
    text-align: center;
}

.download{
    display: flex;
    justify-content: center;
}

.btn-slide, .btn-slide2 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
  
    line-height: 50px;
    padding-left: 100px;
    border-radius: 50px;
    background: #fdfdfd;
    border: 2px solid #7b2cbf;
    margin: 10px;
    transition: .5s;
}

.btn-slide2 {
    border: 2px solid #7b2cbf;
}

.btn-slide:hover {
    background-color: #7b2cbf;
}

.btn-slide2:hover {
    background-color: #7b2cbf;
}

.btn-slide:hover span.circle, .btn-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;
    background-color: #fdfdfd;
    color: #0099cc;
}

.btn-slide2:hover span.circle2 {
    color: #efa666;
}

.btn-slide:hover span.title, .btn-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}

.btn-slide:hover span.title-hover, .btn-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 40px;
}

.btn-slide span.circle, .btn-slide2 span.circle2 {
    display: block;
    background-color: #0099cc;
    color: #fff;
    position: absolute;
    float: left;
    margin: 5px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}

.btn-slide2 span.circle2 {
    background-color: #efa666;
}

.btn-slide span.title,
  .btn-slide span.title-hover, .btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    position: absolute;
    left: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #30abd5;
    transition: .5s;
}

.btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    color: #efa666;
    left: 80px;
  }

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
    left: 80px;
    opacity: 0;
}

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
    color: #fff;
}

nav {
  position: absolute;
  height: 56px;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d333b;
  color: #fff;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.nav-links li {
  margin-left: 20px;
}
.container{
  width: 800px;
  margin: 0 auto;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
}
.nav-links a:hover {
  color: #ccc;
}
.primary-action {
  width: 25%;
  margin-top: 10px;
  margin-left: 176px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  display: inherit;
}

.primary-action:hover {
  background-color: #0069d9;
}
.form-container {
  width: 800px;
  height: 15vh;
  color: #fff;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #2d333b;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 5px;
}

