.form-container {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 1000px;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="url"] {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  body {
    margin: 1rem;
    background-color: #2b84bb;
  }
  video {
    outline: 2px solid rgb(240, 239, 241);
    width: 360px;
    aspect-ratio: 16 / 9;
    margin-top: 0.4rem;
    border-radius: 20px;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }