{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter eduBOT</title>
    <link rel="stylesheet" href="{% static 'css/enterpage.css' %}">
</head>
<body>
    <body>
        <div class="container">
            <div class="content">
                <div class="square twitch" style="margin-bottom: 50px;">
                    <span class="one" ></span>
                    <span class="two"></span>
                    <span class="three"></span>
                    <div class="circle">
                        <img src="{% static 'logo.webp'%}" alt="">
                        <h2 class="page1title"> eduBOT</h2>
                        <p>One Stop Solution for all learning problems.</p>
                    </div>
                </div>
    <div class="buttons">

        <a href="accounts/login" class="button" target="_parent">
            <span class="actual-text">&nbsp;Login &nbsp;</span>
            <span class="hover-text" aria-hidden="true">&nbsp;Login&nbsp;</span>
    </a>
    <a href="accounts/signup" class="button" target="_parent">
        <span class="actual-text">&nbsp;Sign Up &nbsp;</span>
        <span class="hover-text" aria-hidden="true">&nbsp;Sign Up&nbsp;</span>
</a>
    </div>
            </div>
        </div>
    
</body>
</html>
