{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>URL Submission Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/learnit.css' %}">
  </head>
  <script src="{% static 'js/learnit.js' %}"></script>
  <body>
    <div class="form-container">
      <form method='post'>
                    {% csrf_token %}
      <!--   <label for="url-input">Enter Prompt to learn anything</label> -->
               {{form}}
      <!--   <input type="text" id="url-input" name="url-input"> -->
        <input type="submit" value="Submit">
      </form>
               {% block desc %}
               
               {% endblock desc %}
    </div>
          <div>
   
               {% block urls %}
               
               {% endblock urls %}
    </div>

          <div>
   
               {% block quiz %}
               
               {% endblock quiz %}
    </div>

  </body>
</html>
